@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

html {
  background-color: white;
}
/* 
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: white;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 1px solid white;
  background: black;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
} */

input[type="date"] {
  position: relative;
}
::-webkit-datetime-edit,
::-webkit-clear-button,
::-webkit-calendar-picker-indicator {
  position: absolute;
}
::-webkit-clear-button {
  right: 1.54em;
}
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-calendar-picker-indicator {
  right: 0;
  padding: 0.539em 0.34em;
}
