@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

html {
  background-color: white;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;

  font-family: "Helvetica", arial, sans-serif;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}

input {
  color-scheme: dark;
}
